@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.container {
	width: 90%;
	margin: auto;
}

body {
	font-family: 'Patrick Hand', cursive;
}

header {
	background-image: url('./../img/crianca.png');
	background-size: 100%;
}

header > h3, h4 {
	position: relative;
	top: 16px;
	right: 16px;

	text-align: right;
	color: white;
	opacity: 0.75;
}

header > h3 { font-size: 32px; }

header > h4 { font-size: 16px; }

/* navbar */ 

.flex {
	display: flex;
	flex-wrap: wrap;
}

ul.flex > li {
	margin: auto;
	padding: 16px;

	border-left: 1px solid rgb(127, 127, 255);
	border-right: 1px solid rgb(127, 127, 255);
	border-radius: 256px;
}

ul.flex > li > a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

h1 {
	margin: 32px;
	
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	color: rgb(3, 200, 45);
}

/* acabou navbar */
/* index */

section.col-half {
	column-count: 2;
	column-span: all;
}

.img-padrao { width: 100%; height: 100%; }

.img-container { width: 90%; height: 90%; }

.img-metade { width: 50%; height: 50%; }

.redondo { border-radius: 24px; }

.centralizado {
	display: block;
	margin: auto;
}

.ul-default { list-style-type: circle; }

.ul-undotted { list-style-type: none; }

.ul-default,
.ul-undotted { line-height: 1.5; }

.ul-undotted > li,
.ul-default > li,
section > label,
section > p,
cite { font-size: 24px; }

section > p {
	text-indent: 64px;
	padding: 8px 0 8px 0;
}

figure > figcaption { font-size: 16px; }

figure > figcaption,
section > label,
section > p,
cite,
dl,
.ul-default > li,
.ul-undotted > li {
	color: black;
	opacity: 0.75;
}

/* footer */

footer {
	background-image: url('./../img/crianca2.png');
	background-size: 100%;
}

/* deixar responsivo */
footer > address {
	position: relative;
	text-align: center;
	top: 256px;

	font-size: 24px;
	color: black;
	opacity: 0.75;
}

/* acabou footer */

.bkgd-ff0 { background-color: #FF0; }

h2 {
	font-size: 32px;
	text-transform: uppercase;
	
	margin: 16px 0 16px 0;
	color: rgb(127, 127, 255);
}

.clausto { margin: 32px 0 32px 0; }

.justify { text-align: justify; }

cite {
	position: relative;
	left: 1024px;
}

.a-none { text-decoration: none; }


.form {
  display: flex;
  width: 620px;
  background-color: black;
  color: #CCC;
}

.form .legend {
	
}

.form .section {
  flex-grow: 1;
  flex-direction: column;
  padding: 30px;
}

.form .section .control-group {
  margin-top: 10px;
}

.form .section .control-group .control-label {
  display: block;
  width: 100%;
}
