@import url('https://fonts.googleapis.com/css?family=Merriweather');

.container {
	width: 75%;
	margin: auto;
}

header {
	background-image: url('./../img/crianca.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 25em;
	text-align: right;
	object-fit: cover;
}

h3 {
	font-size: 1.375em;
}

.left {
	width: 35%;
	float: left;
}

.right {
	width: 35%;
	float: right;
}

h1 {
	font-size: 2.125em;
	text-transform: uppercase;
}

li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
}

#crianca {
	border-radius: 2.5em;
}

footer {
	background-image: url('./../img/crianca2.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 13.4375em;
	clear: both;
}